html,body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 设置容器的尺寸和文字样式 */
.box{
    display: flex;
}
/* 画出内侧椭圆 */
.box .inner{
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
}
/* 配色 */
.box .inner:first-child{
    background-color: indianred;
    color: darkred;
}
.box .inner:last-child{
    background-color: lightcoral;
    color: antiquewhite;
}
/* 设置3D效果 */
.box .inner:first-child{
    transform-origin: left;
    transform: perspective(300px) rotateY(-67.3deg);
}
.box .inner:last-child{
    transform-origin: right;
    transform: perspective(300px) rotateY(67.3deg);
}
/* 定义动画效果 */
@keyframes marquee{
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}
/* 把动画应用到文字上，隐藏容器外的内容 */
.box .inner span{
    position: absolute;
    animation: marquee 5s linear infinite;
}
.box .inner{
    overflow: hidden;
}
/* 让左侧的文字延迟运动，模拟出2组文字连贯效果 */
.box .inner:first-child span{
    animation-delay: 2.5s;
    left: -100%;
}
